@use 'bootstrap/scss/bootstrap';

@use 'waypoint-theme';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--wp-background);
  color: var(--wp-text);
  font-family: Inter, Roboto, Arial, sans-serif;
}
